
body {
    margin: 0;
}

.game-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #868B8E;
    height: 100vh;
}

h1 {
    margin: 0px;
}

.container {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    margin: 20px;
}

#gameboard {
    display: grid;
    background-color: #EEEDE7;
    padding: 0px;
    margin: 0px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    z-index: 3;
    border: 2px solid black;
}


.square {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    border: 2px solid black;
    cursor: pointer;
}
.player-icon {
    display: flex;
    align-items: center;
    border: 2px solid black;
    font-size: 25px;
    height: 20px;
    padding: 30px;
    margin: 10px;
    background-color: #9eb984;
    text-align: center;
}

#icon-o {
    background-color: #E7D2CC;
}

#restart-button {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #EEEDE7;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: #B9B7BD;
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
    max-width: 80%;
    font-size: 20px;
    z-index: 5;
}

.modal.active {
        transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

.modal-restart-btn-container {
    display: flex;
    justify-content: center;
    padding: 10px 15px;
}

.modal-restart-btn {
    width: 50%;
}

#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 4;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}
